@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

HTML {
    font-size: 62.5%;
}

.container {
    background-image: url("../images/retro-living-room-interior-design.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    padding-inline: 5%;
    width: 90%;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */
.navbar {
    align-items: center;
    display: flex;
    /* height: 20vh; */
    padding-block: 5rem;
    justify-content: space-between;
}

.fa-solid.fa-bars {
    display: none;
}

.logo img {
    height: 5rem;
}

.list {
    align-items: center;
    border-bottom: 3px solid white;
    color: white;
    display: flex;
    font-weight: 600;
    gap: 4.5rem;
    list-style-type: none;
    padding-bottom: 3rem;
}

.list .list-item {
    cursor: pointer;
    font-size: 2rem;
}

.list-item:last-child {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.list-item h1 {
    font-size: 15px;
}

/* ------------------------------ */
/* ---------- HERO ------------ */
/* ------------------------------ */
.hero {
    color: white;
    display: flex;
    /* height: 50vh; */
    justify-content: start;
}

.hero .left h1 {
    font-size: 6rem;
    margin-top: 8rem;
}

.btn {
    background-color: transparent;
    border-radius: 4rem;
    border: 3.5px solid white;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 5rem;
    padding: 1.8rem 5rem;
    text-transform: uppercase;
}

.hero .right {
    position: relative;
}

.box {
    background-color: rgba(255, 255, 255, 0.249);
    font-size: 1.5rem;
    font-weight: 600;
    height: fit-content;
    padding: 5% 6%;
    position: absolute;
}

.box.one {
    left: 30vw;
    position: relative;
    top: 5vh;
}

.box.two {
    left: 2vw;
    position: relative;
    top: 17vh;
}

.box .logo {
    align-items: center;
    background-color: white;
    border-radius: 2rem;
    color: black;
    display: flex;
    height: 4rem;
    justify-content: center;
    margin-block: 1rem;
    width: 40%;
}

.fa-solid {
    font-size: 3rem;
}

.extra .circle {
    background-color: #fff;
    border-radius: 1rem;
    height: 2rem;
    left: 0;
    position: absolute;
    top: 0;
    width: 2rem;
}

.box.one .extra .circle {
    left: 18rem;
    top: 20rem;
}

.box.two .extra .circle {
    left: 28rem;
    top: 7rem;
}

.extra .line {
    background-color: #fff;
    border-radius: 1rem;
    bottom: 0;
    height: 2px;
    position: absolute;
    right: 0;
    width: 7rem;
}

.box.one .extra .line {
    left: 15.5rem;
    top: 18rem;
    transform: rotate(90deg);
}

.box.two .extra .line {
    left: 21rem;
    top: 8rem;
}

@media (width <=425px) {
    .fa-solid.fa-bars {
        display: block;
        color: #fff;
    }

    .navbar {
        padding-block: 2rem;
    }

    .navbar .logo {
        height: 3rem;
    }

    .navbar .logo img {
        width: 100%;
        height: 100%;
    }

    .navbar .list {
        display: none;
    }


    .hero {
        flex-direction: column;
    }

    .hero .left h1 {
        font-size: 2.7rem;
        margin-top: 5rem;
    }

    .hero .left .btn {
        font-size: 1.2rem;
        padding: 1rem 1.7rem;
        border: 2.5px solid #fff;
        margin-top: 2rem;
    }

    .hero .right {}

    .box {
        display: absolute;
        /* width: ; */
        font-size: 1rem;
        width: 100%;
        /* height: 5rem; */
        margin: 0;

    }

    .box.one, .box.two{
        /* right: 0; */
        /* margin-right: 5rem; */
        margin: 0;
        width: 15rem;
        padding: 1rem;
    }

    .box .logo {
        /* margin-right: 0; */
        height: 3rem;
        margin-block: 0.5rem;
    }


    .fa-solid{
        font-size: 2rem;
    }



    .extra .circle {
        background-color: white;
        border-radius: 1rem;
        height: 1.5rem;
        left: 0;
        position: absolute;
        top: 0;
        width: 1.5rem;
    }
    
    .box.one .extra .circle {
        left: 13rem;
        top: 12rem;
    }
    
    .box.two .extra .circle {
        left: 20rem;
        top: 2rem;
    }
    
    .extra .line {
        background-color: white;
        border-radius: 1rem;
        bottom: 0;
        height: 1.5px;
        position: absolute;
        right: 0;
        width: 4rem;
    }
    
    .box.one .extra .line {
        left: 11.6rem;
        top: 11rem;
        transform: rotate(90deg);
    }
    
    .box.two .extra .line {
        left: 17rem;
        top: 2.6rem;
    }


}